$sangria: #880E4F;
$dark-sangria: #5b0024;
$light-sangria: #bc477b;
$brick: #870000; // or #700000

$darker-orange: #a52503;

$orange: #8e2700;
$light-nude: #ffd9c9;
$lighter-nude: #fff4ef;
$almost-white: #fffbf9;
$nude: #ffa798;

$green: #004d40;
$dark-green: #00251a;

// set as body font
// font-family: 'Karma', serif;

// pretty basic and plain
// font-family: 'Playfair Display', serif;

// good for headings, but very bold
// font-family: 'Berkshire Swash', cursive;

// nice, italic, kind of comic sans
// font-family: 'Courgette', cursive;

// I particularly like the capitals in this font
// font-family: 'Merienda', cursive;
