.castleLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}

.citiesList, .hotelsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .localCity {
    text-align: center;
    padding: 10px;
  }
  .localHotel {
    text-align: center;
    padding: 15px;
  }
  .cityName, .hotelName {
    font-weight: bold;
    color: $sangria;
  }
  .hotelName {
    text-decoration: underline;
  }
  .hotelAddress, .hotelPhone, .distance {
    font-size: .9em;
  }
}

.smallerText {
  font-size: .8em;
  text-align: center;
}

.hauntsList {
  .localPlace {
    background-color: $lighter-nude;
    margin: 10px;
    padding: 15px;
    border: 3px solid $sangria;
    border-radius: 5px;
  }

  .placeName {
    font-weight: bold;
    color: $sangria;
    text-decoration: underline;
    text-align: center;
  }
  .placeNote {
    font-size: .9em;
  }
}
