.whereToPage {
  a {
    color: $sangria;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    font-size: 1.1em;
  }
  ul {
    list-style-type: none;
  }
  li:before {
    font-family: 'FontAwesome';
    content: '\f06c';
    margin:0 6px 0 0;
    color: $green;
  }
}
