/*
Colors:
turquoise : #547A6F
brown border: #55412A
blue title: #386298
instructions background: #AA9468
behind text instructions background: #C3B48D

Backgrounds:
treasure : #FADE6C
victory: #A6D473
curse: #7F4D90
action: #DCD9BD
duration: #C78543
*/
body {
  background-color: #AA9468;
}
.page {
  padding: 10px;
  border: solid #AA9468 15px;
  background: #C3B48D;
}

.pageTitle {
  text-align: center;
  color: #386298;
  font-size: 35px;
}

/*
Navigation Bar
*/
.navBarHeader {
  background: #AA9468;
  color: #547A6F;
  text-align: center;
}
/* .navBarFooter {
  background: #55412A;
  height: 15px;
  color: #547A6F;
  text-align: center;
  margin-bottom: 10px;
} */
.navButtons {
  display: inline-flex;
}
.navButton {
  margin: 7px 3px;
  font-size: 12px;
}

/*
Design Card Page
*/
.potionsSelection {
  text-align: center;
}
.upAndDownDiv {
  overflow: hidden;
  margin: 0 0 5px 0;
  line-height: 50px;

}
.fa {
  margin: 0 0 0 5px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  float: left;
  text-align: center;
}
/*
Card Specifics
*/
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardInDeck {
  position: relative;
  margin: 2px;
}
.cardTitleDiv {
  position: absolute;
  top: 6px;
  width: 200px;
  border-radius: 2%;

  color: #386298;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}
.displayCardImage {
  position: absolute;
  top: 34px;
  left: 12px;
  width: 178px;
  height: 127px;
}
.cardTextDiv {
  position: absolute;
  top: 167px;
  left: 12px;
  width: 88.5%;
  height: 35%;
  text-align: justify;
  border-radius: 10%;
  padding: 6px 9px;
}
.displayCost {
  position: absolute;
  top: 279px;
  left: 12px;
  width: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  border-radius: 50%;
}
.potionsPic {
  position: absolute;
  top: 279px;
  left: 39px;
  height: 20px;
}
/*
Card Types
 */
.action, .victory, .reaction {
  width: 200px;
  min-height: 250px;
}
