/*
Colors:
turquoise : #547A6F
brown border: #55412A
blue title: #386298

Backgrounds:
treasure : #FADE6C
victory: #A6D473
curse: #7F4D90
action: #DCD9BD
duration: #C78543
*/




body {
  background-color: pink;
}
.card {
  font-size: 80%;
  background-color: white;
  border: solid blue 2px;
  padding: 10px;
  margin: 5px 0px;
  text-align: center;
  max-width: 200px;
}
.cardTitle {
  font-size: 110%;
  font-weight: bold;
}
.displayCardImage {
  max-width: 100px;
}
