$sangria: #880E4F;
$dark-sangria: #5b0024;
$light-sangria: #bc477b;
$brick: #870000; // or #700000

$darker-orange: #a52503;

$orange: #8e2700;
$light-nude: #ffd9c9;
$nude: #ffa798;

$green: #004d40;
$dark-green: #00251a;
