
// Colors:
$turquoise : #547A6F;
$brown: #55412A;
$blueTitle: #386298;
$instructions: #AA9468;
$behindInstructions: #C3B48D;

// Backgrounds:
$treasure : #FADE6C;
$victory: #A6D473;
$curse: #7F4D90;
$action: #DCD9BD;
$duration: #C78543;

//Pretty Colors

$pink: #9b27af; //WHITE TEXT
$dark-pink: #69007f; //WHITE TEXT
$light-pink: #cf5ce2; //WHITE TEXT
$brighter-pink: #ff70ff;

$blue: #2196f3; //BLACK TEXT for accessibility
$dark-blue: #0069c0; //WHITE TEXT
$light-blue: #6ec6ff; //BLACK TEXT for accessibility
