body {
  background-color: $dark-sangria;
}

.NavBar {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button {
  background-color: $light-sangria;
  border-radius: 5px;
  margin: 0px;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  color: $light-nude;
}

.button:hover {
  background-color: $sangria;
}

.page {
  padding: 10px;
  margin: 10px;
  background-color: $light-nude;
  min-height: 900px;
}

.title {
  text-align: center;
  font-size: 2em;
}

.error {
  font-style: italic;
  color: $brick;
}

// TEXT INPUT FIELDS
.textLabel {

}
