/*
Navigation Bar
*/
.navBarHeader {
  background: $brown;
  text-align: center;
}
.navButtons {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.navButton {
  margin: 7px 3px;
  font-size: 12px;
}
