/*
Navigation Bar
*/
.navBarHeader {
  background: $dark-pink;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-content: space-around;
  line-height: 35px;
}

/*
Buttons and Labels
*/
.navButtonObject {
  position: relative;
}

.navButtonLabelLeft, .navButtonLabelRight, .navButton {
  font-size: 12px;
  color: white;
  vertical-align: middle;
}
.navButtonLabelLeft {
  position: absolute;
  left: 25px;
  top: 0px;
  width: 100px;
}
.navButtonLabelRight {
  position: absolute;
  right: 25px;
  top: 0px;
  width: 100px;
}


/*
Icons
*/
.rect{
  background-color: white;
  width: 20px;
  height: 30px;
  border-radius: 10%;
  border: 1px black solid;
}
.card:hover {
  background-color: $light-blue;
}
.deck:hover {
  .rect1, .rect2, .rect3 {
    background-color: $light-blue;
  }
}
.deck {
  position: relative;
  display: inline;
  .rect1 {
    position: absolute;
  }
  .rect2 {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .rect3 {
    position: absolute;
    top: 4px;
    left: 4px;
  }
}
