body {
  background-color: $dark-pink;
}
.page {
  padding: 10px;
  margin: 2px;
  background: white;
  min-height: 440px;
  min-width: 270px;
}

.pageTitle {
  text-align: center;
  color: $dark-blue;
  font-size: 35px;
}

.button {
  background-color: $blue;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  border: 1px $light-blue solid;
  margin: auto;
}
.button:hover {
  background-color: $light-blue;
}
