body {
  background-color: $dark-pink;
}
.page {
  border-radius: 3px;
  padding: 10px;
  margin: 15px;
  margin-top: 0px;
  background: white;
  min-height: 440px;
  min-width: 270px;
}

.homepage {
  text-align: center;
}

.pageTitle {
  text-align: center;
  color: $dark-blue;
  font-size: 35px;
}
