body {
  background-color: $brown;
}
.page {
  padding: 10px;
  border: solid $brown 15px;
  background: #C3B48D;
  min-height: 440px;
  min-width: 270px;
}

.pageTitle {
  text-align: center;
  color: #386298;
  font-size: 35px;
}
